* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 2;
}

.container {
    max-width: 780px;
    margin: 50px auto
}

.boxed {
    padding: 25px;
    margin-bottom: 8%;
    border: 1px solid rgb(196, 195, 195);
    color: rgb(114, 114, 114);;
}

.tab_triger ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.tab_triger ul li label {
    position: relative;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    min-width: 10px;
    background: #e6e6e6;
    text-align: center;
    text-transform: uppercase;
    border-radius: 7px 10px;

}

.tab_container input {
    position: absolute;
    width: 0;
    height: 0;
    margin: 10px;
    z-index: -1500;
    top: -1000px;
}

.tab_container input:checked + .tab_content_box {
    display: block;
}



.tab_content_box {
    padding: 25px;
    display: none;
    border: 1px solid rgb(196, 195, 195);
    border-top: 8px solid #15ddd6;
}


.tab_content_box h2 {
    margin: 0 0 20px;
}
/*kilder:
https://www.youtube.com/watch?v=oLqdy95LZSw
https://www.youtube.com/watch?v=RMQ64ZmAqPo&t=220s*/